/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#FinanceMenuButton
{
    -fx-border-color:transparent;
    -fx-border-width:0;
    -fx-background-color:transparent;
    -fx-font-family:"Lucida Sans";
    -fx-font-size:1em;
}