/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.menu-button
{
    -fx-border-color:transparent;
    -fx-border-width:0;
    -fx-background-color:transparent;
    -fx-font-family:"Lucida Sans";
}